
body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Ascender Sans Mono WGL', Bold;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #ddfee4;
	text-align: center;
	color: #2dcc9c;
}
header img {
	height: 90px;
	margin-left: 1rem;
}
header h1 {	/* Bandeau de la page */
	flex-grow: 1;
}


nav a {
	color: #2dcc9c;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 3rem;

}


nav b {
	color: #1e7b5f;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 3rem;

}

main {
	display: flex;
	flex-direction: row;
}

.container textarea {
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }

.filtres {	/*cadre des filtres*/
	border-radius: 4px;
	box-shadow: 0px 0px 4px gray;
	margin: 8px;
	padding: 8px;
	min-width: 300px;
	min-height: 400px;
	font-style: Bold;
}

.filtres h3 { /* Titre des filtres */
	text-align: center;
	font-style: Bold;
}

.filtres h4 { /* Titre Adresse */
	text-align: center;
	font-style: Bold;
	font-size: large;
}

select {
	font-size: 15px;
	padding: 5px;
	border-radius: 4px;
	background-color: white;
}

  

.fiches {
	flex: 1;
	margin: 8px;
	font-style: Bold;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px;
}


.fiches article {	/*cadre des fiches*/
	border: 1px solid #2dcc9c;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 4px gray;
}
.fiches article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
}
.fiches article h2 { /* Nom de l'association */
	text-align: center;
}
.fiches article h3 { /* Nom de la mission */
	text-align: center;
}
.fiches article p {
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: Bold;
}

.fiches article ul {
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: Bold;
	text-align: center;
}


.fiches article .btn-avis { /*bouton afficher les avis */
	background-color: #2dcc9c;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
}

.fiches article .btn-participe { /*bouton participer */
	background-color: black;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
}
.hide {
	display: none;
}
.btn-container {
	display: flex;
	flex-direction: column;
}

.btn-container-index {
	display: flex;
	flex-direction: column;
}
.no-display {
	display: none;
}
.formulaire-container-ajouter{
	display: none;
}
.formulaire-container-suppr{
	display: none;
}

.formulaire-container-modif{
	display: none;
}

.formulaire-container-avis{
	display: none;
}
.formulaire-container-participer{
	display: none;
}

.btn-annonce-ajouter:focus:focus + .formulaire-container-ajouter,
.btn-annonce-ajouter:focus:hover + .formulaire-container-ajouter {
	display: block;
}
.btn-annonce-suppr:focus + .formulaire-container-suppr,
.btn-annonce-suppr:hover + .formulaire-container-suppr{
	display: block;
}

.btn-annonce-modif:focus + .formulaire-container-modif,
.btn-annonce-modif:hover + .formulaire-container-modif{
	display: block;
}

.btn-avis:focus + .formulaire-container-avis,
.formulaire-container-avis:hover {
	display: block;
}
.btn-participer:focus + .formulaire-container-participer,
.formulaire-container-participer:hover {
	display: block;
}


.btn-menu {
	flex-direction: column;
	background-color: #2dcc9c;
	border-color: #1f8869;
	padding: 8px 65px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-style: bold;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
}




.part{	/*affichage des participants */
	text-align: right;
	font-style: Bold;
}

.av {	/*affichage des avis */
	text-align: left;
	color : #2dcc9c;
}



.fiches article buttonPactionne { /*bouton participer */
	background-color: black;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	margin: 4px;
	cursor: pointer;
}


.rapide p { /*changer le "Les missions les plus rapide à réaliser (moins de 2 heures) sont :"*/
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 6px;
}
